@import 'sprite';
@import 'component';
@import 'tabs';
@import 'container';
@import 'popover';
@import 'picture';
@import 'modal-c';
@import 'modal-j';
@import 'modal-s';
@import 'build-info';
@import 'variables';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: transparent !important;
}

body {
  font-size: general-font-size(1);

  p {
    font-size: picture-font-size(1);
    margin: 0;
  }
}

.main-container {
  min-height: 100vh;
  width: 100%;
  padding-top: 0.1px; // Prevent margin collapse
  position: relative;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../img/background_throne_empty.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 35% 0% !important;
    background-size: 108% auto !important;
    transition: background-image 0.5s ease-in-out;
  }

  &.sothis-awake::before {
    background-image: url("../img/background_throne_sleeping.png");
  }
}

@include media-by-coefficient(11/12);
@include media-by-coefficient(10/12);
@include media-by-coefficient(9/12);
@include media-by-coefficient(8/12);
@include media-by-coefficient(7/12);