.house-tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.house-banner {
  position: absolute;
  right: 15%; // Position it to the right of the tabs

  img {
    height: 100px;
    width: auto;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  }
}

.house-tab {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
  user-select: none;

  // Make the tab contents flexible to accommodate the image
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .tab-icon {
    height: 3.5rem;
    width: auto;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
  }

  &.active {
    background-color: #fff;
    color: #333;
    border-color: #ffd700; // Gold accent
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.5);
  }
}